.footer-setup {
  padding: 20px;

}

.nav-link {
  color: #6c6c6e;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #e09d38;
}

.list_style li {
  margin: 5px;
}

.Link-setup li {
  list-style-type: none;
}

.giaithuong img {
  width: 70px;
  height: 60px;
}

.giaithuong img:hover {
  transform: scale(1.5);
  transition: all 0.3s ease;
}

.group2_Hung img {
  width: 50%;
  border-radius: 50%;
}
.button_send-hung{
  border: 1px solid #6c6c6e;
  color: #6c6c6e;
}
.button_send-hung:hover{
  background-color: #e09d38d5;
  color: white;
}

