.rounded-circle {
  border: 1px solid #ccc;
  object-fit: cover;
}

/* Animation cho dropdown */
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.navbar {
  position: fixed;
  font-weight: 700;
  width: 100%;
  z-index: 1030;
  top: 0;
  transition: background-color 1s ease, box-shadow 1s ease; /* Tập trung vào các thuộc tính cần thiết */
}

.navbar-transparent {
  background-color: transparent !important;
  box-shadow: none;
}

.navbar-colored {
  background-color: #04091e !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar .nav-link {
  color: #fff !important;
  transition: color 0.7s ease; /* Hiệu ứng mượt hơn khi hover */
}

.navbar .nav-link:hover {
  color: #499cee !important; /* Màu chữ khi hover */
}

/* Hover dropdown effect */
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* Aligns dropdown with nav item */
}

.dropdown-menu {
  animation: slideDown 0.3s ease-in-out;
  background-color: #04091e !important; /* Match navbar background */
  border: none; /* Remove default border for cleaner look */
}

.dropdown-menu.hide {
  animation: slideUp 0.3s ease-in-out;
}

/* Dropdown item styles to match navbar links */
.dropdown-item {
  color: #fff !important; /* Match nav-link color */
  transition: color 0.7s ease; /* Match nav-link transition */
}

.dropdown-item:hover {
  color: #499cee !important; /* Match nav-link hover color */
  background-color: gray;
}

/* Ensure dropdown closes when not hovering */
.nav-item.dropdown .dropdown-menu {
  display: none;
}

.nav-item.dropdown:hover .dropdown-toggle::after {
  transform: rotate(180deg); /* Optional: Rotate arrow on hover */
  transition: transform 0.2s ease-in-out;
}

.navbar.visible {
  top: 0;
}

.navbar.hidden {
  top: -80px;
}

.dropdown-toggle::after {
  display: none !important;
}
